/* main {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../../imagenes/fondo1.jpg")
} */

.bodyHome{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../../imagenes/fondo1.jpg")
}

.caja {
    border: 5px solid var(--verde);
}

.boton{
    background-color: var(--verde);
}