body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../../imagenes/fondo1.jpg")
}

.container {
    border: 5px solid #59CD90;
}

.boton{
    background-color: #59CD90;
}